.logoLogin {
    position: absolute;
    top: 85px;
    margin-left: -106px;
    transform: rotate(-6deg);
    width: 100px;
    height: 100px;
}

.logoLogin img {
    width: 100px;
    height: 100px;
}

.headerLogin {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.headerLogin p {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.loginArea {
    margin: auto;
    margin-top: 35px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 25px;
    background-color: rgba( 29, 117, 225, 0.5 );

    -webkit-box-shadow: 2px 4px 4px 1px #aaa;
    -moz-box-shadow: 2px 4px 4px 1px #aaa;
    box-shadow: 2px 4px 4px 1px #aaa;
}

.buttonLogin {
    padding: 10px 30px;
    border-radius: 8px;
    color: #fafafa;
    background-color: #1BBC9B;
    border: 1px solid #ccc;
    text-transform: uppercase;

    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    margin-top: 20px;
}

.bodyLogin .inputArea label {
    color: #fff;
}

.bodyLogin .actionsBtn {
    border-top: 1px solid #000;
}
