
.cardArea {
    font-size: 16px;
    width: 30%;
    border: 1px solid #000;
    margin: 5px 20px 10px 0;
    border-radius: 5px;
    background-color: #fff;

    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;

    -webkit-box-shadow: 2px 4px 4px 1px #aaa;
    -moz-box-shadow: 2px 4px 4px 1px #aaa;
    box-shadow: 2px 4px 4px 1px #aaa;
}

.registerAnimals {
    max-width: unset;
}

.cardArea:hover {
    transform: scale(1.05);
    border: 1px solid #E7505A;
    z-index: 999;
}

.cardHeader {
    margin: 15px 0 0px 0;
    text-transform: uppercase;
    color: #E7505A;
    font-weight: 700;
}

.cardHeaderFound {
    color: #1BBC9B;
}

.cardImg {
    margin: auto;
    width: 270px;
    height: 250px;
}

.cardImg img {
    margin-top: 20px;
    border-radius: 10px;
    width: 270px;
    height: 190px;
    border: 1px solid #ccc;
}

.body {
    border-top: 1px solid #000;
    margin: 0 5px;
}

.cardName {
    font-size: 18px;
}

.cardName, .cardAge, .cardLastPlace, .cardInfo {
    margin: 5px 0px;
}

.cardLastPlace {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardInfo {
   overflow: hidden;
   height: 80px;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.cardInfo p
{
    margin-top: 5px;
}

.footer {
    border-top: 1px solid #000;
    margin: 0 5px;
}

.contactButton {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #26C281;
    border: 1px solid #ccc;
    text-transform: uppercase;

    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}

.Left {
    float: left;
    width: -webkit-fill-available;
    max-width: 46%;
}

.contactButton:hover {
    transform: scale(1.05);
}

@media only screen and ( max-width: 1060px ) {

    .Left {
        float: unset;
        width: auto !important;
        min-width: 46%;
        max-width: fit-content;
    }
}

@media only screen and ( max-width: 995px ) {

    .cardImg {
        width: 300px;
    }

    .Left {
        width: auto !important;
        min-width: 46%;
        max-width: fit-content;
    }

    .registerAnimals {
        max-width: min-content;
    }

    .cardArea {
        width: auto !important;
        min-width: 46%;
        max-width: fit-content;
        float: unset
    }

    .cardArea p {
        font-size: 20px;
    }

    .Left {
        min-width: -webkit-fill-available;
    }
}

@media only screen and ( max-width: 600px ) {
    .cardArea p {
        font-size: 24px;
    }
}