.logoProfile {
    position: absolute;
    top: 85px;
    margin-left: -155px;
    transform: rotate(-6deg);
    width: 100px;
    height: 100px;
    
}

.logoProfile img {
    width: 100px;
    height: 100px;
}

.headerProfile {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.headerProfile p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.ProfileArea {
    flex: 1;
    margin: auto;
    margin-top: 35px;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 25px;
    background-color: rgba( 29, 117, 225, 0.5 );

    -webkit-box-shadow: 2px 4px 4px 1px #aaa;
    -moz-box-shadow: 2px 4px 4px 1px #aaa;
    box-shadow: 2px 4px 4px 1px #aaa;
}

.registerAnimals {
    flex: 1;
    margin: 30px 0px 0 40px;
}



.bodyProfile .inputArea label {
    color: #fff;
}

.bodyProfile .actionsBtn {
    border-top: 1px solid #000;
}

.bodyLogin .inputAreaLog #email, .bodyLogin .inputAreaLog #password {
    text-align: center;
}

@media only screen and ( max-width: 1140px ) {


    .ProfileArea {
        margin-left: 5px;
    }
}

@media only screen and ( max-width: 995px ) {


    .ProfileArea {
       width: 50%;
       max-width: -webkit-fill-available;
       margin-left: 20px !important;
       margin-right: 20px !important;
    }
}

@media only screen and ( max-width: 800px ) {


    .ProfileArea {
        min-width: -webkit-fill-available;
        max-width: unset;
    }
}


@media only screen and ( max-width: 430px ) {


    .ProfileArea {
       width: 100%;
       margin-left: 10px !important;
       margin-right: 10px !important;
    }
}
