
.newmissingArea {
    font-size: 16px;
    width: 100%;
    border: 1px solid #000;
    margin: 5px 20px 10px 0;
    border-radius: 5px;
    background-color: #fff;

    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;

    -webkit-box-shadow: 2px 4px 4px 1px #aaa;
    -moz-box-shadow: 2px 4px 4px 1px #aaa;
    box-shadow: 2px 4px 4px 1px #aaa;
}

.newmissingHeader {
    margin: 15px 0 0px 0;
    text-transform: uppercase;
    color: #E7505A;
    font-weight: 700;
}

.newmissingImg {
    margin: auto;
    width: 270px;
    height: 250px;
}

.dropzone-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 271px;
    height: 212px;
    overflow: unset;
    position: relative;
    box-sizing: border-box;
    transition: all .15s linear;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.dzu-previewContainer {
    padding: 1px 1px 1px 1px;
}

.dropzone-input img {
    margin-top: 0;
    border-radius: 10px;
    width: 265px;
    height: 184px;
    border: 1px solid #ccc;
    max-width: 270px;
    max-height: 190px;
}

.body {
    border-top: 1px solid #000;
    margin: 0 5px;
}

.newmissingName {
    font-size: 18px;
}

.newmissingName, .newmissingAge, .newmissingLastPlace, .newmissingInfo {
    margin: 5px 0px;
}

.footer {
    border-top: 1px solid #000;
    margin: 0 5px;
}

.registerButton {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #26C281;
    border: 1px solid #ccc;
    text-transform: uppercase;

    transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
}

form .inputAreaLog textarea {
    width: 100%;
    resize: vertical;
    height: 150px;
    color: #333;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    line-height: 22px;
    font-size: 18px;
    overflow: auto;

}

.uploadMessage {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.alert {
    color: #e57878;
}

.success {
    color: #78e5d5;
}



@media only screen and ( max-width: 480px ) {


    #form_new_missing {
       margin-left: 5px;
       margin-right: 5px;
    }
}
